@import '../../style/colors';

$buttonHeight: 60px;

.add-jogs-container {
    position: relative;
    top: calc(116px + 10vh);
    justify-items: center;

    &__window {
        margin: auto;
        width: 503px;
        height: 379px;
        border-radius: 44px;
        background-color: $apple-green;

        &-cross {
            cursor: pointer;
            position: relative;
            float: right;
            top: 24px;
            right: 27px;
        }

        &-form {
            display: grid;
            top: 90px;
            justify-items: center;
            &__inputs {
                display: grid;
                grid-template-columns: min-content 236px;
                grid-column-gap: 16px;
                grid-row-gap: 25px;
                align-items: center;
                input {
                    padding-left: 8px;
                    width: 236px;
                    font-family: SFUIText;
                    height: 31px;
                    border-radius: 7px;
                    border: solid 1px #979797;
                    background-color: $white-two;
                }
                label {
                    font-size: 16px;
                }
            }
            &__button {
                margin-top: 46px;
                cursor: pointer;
                background-color: transparent;
                width: 320px;
                height: 42px;
                border-radius: 25.2px;
                border: solid 2px $white-two;
                span {
                    color: $white-two;
                    font-size: 12.6px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .add-jogs-container {
        top: calc(116px + 10vh);
        // justify-items: center;

        &__window {
            margin: auto;
            width: 90vw;
            height: 60vh;
            border-radius: 44px;
            background-color: $apple-green;

            &-form {
                margin: 0;
                top: 10%;
                height: 100%;
                width: 100%;
                grid-template-rows: min-content min-content;
                grid-row-gap: 40px;

                &__inputs {
                    display: grid;
                    grid-template-rows: repeat(6, min-content);
                    grid-template-columns: unset;
                    width: 90%;
                    grid-row-gap: 15px;
                    justify-items: center;
                    align-items: center;

                    input {
                        float: left;
                        padding-left: 8px;
                        left: 5%;
                        width: 100%;
                        font-family: SFUIText;
                        height: 31px;
                        border-radius: 7px;
                        border: solid 1px #979797;
                        background-color: $white-two;
                    }
                    label {
                        justify-self: self-start;
                        height: 14px;
                        font-size: 14px;
                    }
                }
                &__button {
                    margin-top: 0;
                    span {
                        color: $white-two;
                        font-size: 12.6px;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }
    }
}
