@import '../../style/colors';
@import '../../style/commonVars';

.info-container {
    position: relative;
    width: 46vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    top: 85px;
    &__header {
        margin-top: 0;
        color: $apple-green;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
    }
    &__content {
        & :first-child {
            margin-bottom: 30px;
        }
        div {
            color: $text-grey;
            font-size: 14px;
            line-height: 1.71;
        }
    }
}

@media (max-width: $mediaWidth) {
    .info-container {
        top: 35px;
        position: relative;
        width: 90vw;
        margin-right: auto;
        margin-left: auto;

        &__header {
            color: $apple-green;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 5pt;
            font-size: 36px;
            font-weight: bold;
        }
        &__content {
            & :first-child {
                margin-bottom: 25pt;
            }
            div {
                color: $text-grey;
                font-size: 14px;
                line-height: 1.71;
            }
        }
    }
}
