@import '../../style/colors';

.jogs-container {
    position: relative;
    top: 5vh;
    margin-right: auto;
    margin-left: auto;
    width: min-content;

    &__add-btn {
        cursor: pointer;
        position: fixed;
        bottom: 40px;
        right: 40px;
    }
}
