@import '../../style/colors';

.jog-instance-container {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 47px;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    text-decoration: none;
    color: $common-black;

    &__description {
        display: grid;
        grid-row-gap: 5px;

        &__date {
            font-size: 14px;
            color: $text-grey;
        }

        &__parameters {
            font-size: 14px;

            &-name {
                font-weight: 500;
            }

            &-value {
                color: $text-grey;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 800px) {
    .jog-instance-container {
        position: relative;
        padding-bottom: 60px;
        border-bottom: 1px solid $text-grey;    
    }
}
