@import './fonts/sfuitext/style.css';

html {
    font-family: SFUIText;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.content-container {
    width: 100%;
    min-height: calc(100vh - 116px);
}

@media (max-width: 858px){
    .content-container {
        width: 100%;
        min-height: 100%;
    }
}
