$baby-purple: #e990f9;
$white-two: #ffffff;
.login-form-wrapper {
    display: grid;
    width: 503px;
    height: 379px;
    border-radius: 44px;
    background-color: $baby-purple;
    justify-items: center;
    align-items: center;
    transform: translate(100%, 50%);
}
.login-form-wrapper__img {
    width: 160px;
    height: 150px;
    object-fit: contain;
}

.login-form-wrapper__btn {
    width: 151px;
    height: 60px;
    border-radius: 36px;
    border: solid 3px $white-two;
    background-color: inherit;
    color: $white-two;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
